{% extends "layout.html" %}

{% block content %}
<form method="POST" , action="">
    {{ form.hidden_tag() }}
    <fieldset>
        <legend>Add Project</legend>
        <!-- title -->
        <div class="form-group row">
            {{ form.title.label(class="col-form-label-sm col-sm-2 col-form-label") }}
            <div class="col-sm-2">
                {% if form.title.errors %}
                {{ form.title(class="form-control form-control-sm is-invalid pd-") }}
                <div class="invalid-feedback">
                    {% for error in form.title.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.title(class="form-control form-control-sm") }}
                {% endif %}
            </div>
        </div>
        <!-- abc -->
        <div class="form-group row">
            {{ form.abc.label(class="col-form-label-sm col-sm-2 col-form-label") }}
            <div class="col-sm-2">
                {% if form.abc.errors %}
                {{ form.abc(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.abc.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.abc(class="form-control form-control-sm") }}
                {% endif %}
            </div>
        </div>
        <!-- mode -->
        <div class="form-group row">
            {{ form.mode.label(class="col-form-label-sm col-sm-2 col-form-label") }}
            <div class="col-sm-2">
                {% if form.mode.errors %}
                {{ form.mode(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.mode.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.mode(class="form-control form-control-sm") }}
                {% endif %}
            </div>
        </div>
        <!-- classification -->
        <div class="form-group row">
            {{ form.proj_class.label(class="col-form-label-sm col-sm-2 col-form-label") }}
            <div class="col-sm-2">
                {% if form.proj_class.errors %}
                {{ form.proj_class(class="form-control form-control-sm is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.proj_class.errors %}
                    <span>{{ error }}</span>
                    {% endfor %}
                </div>
                {% else %}
                {{ form.proj_class(class="form-control form-control-sm") }}
                {% endif %}
            </div>
        </div>
        <!-- submit button -->
        <div class="form-group row">
            <div class="col-sm-2">
                {{ form.submit(class="pd-0 btn btn-lg btn-primary btn-block")}}
            </div>
        </div>
    </fieldset>

</form>
{% endblock %}