{% extends "layout.html" %}

{% block content_header %}
<h2 class="h2">{{ title }}</h2>
<!-- buttons -->
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary"><a
                href="{{ url_for('main.export_all') }}">Export</a></button>
    </div>
    <div class="btn-group mr-2">
        <button type="button" class="btn btn-sm btn-outline-secondary" data-toggle="modal" data-target="#addModal">Add
            Project</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        This week
    </button>
</div>
<!-- MODAL adding project-->
<div class="modal fate" id="addModal" tabindex="-1" role="dialog" aria-labelledby="addModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="addModalLabel">Add New Project</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form method="POST" , action="">
                    {{ form.hidden_tag() }}
                    <fieldset>
                        <!-- title -->
                        <div class="form-group">
                            {{ form.title.label(class="col-form-label-sm col-form-label") }}
                            <div>
                                {% if form.title.errors %}
                                {{ form.title(class="form-control form-control-sm is-invalid pd-") }}
                                <div class="invalid-feedback">
                                    {% for error in form.title.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.title(class="form-control form-control-sm") }}
                                {% endif %}
                            </div>
                        </div>
                        <!-- abc -->
                        <div class="form-group">
                            {{ form.abc.label(class="col-form-label-sm col-form-label") }}
                            <div>
                                {% if form.abc.errors %}
                                {{ form.abc(class="form-control form-control-sm is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.abc.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.abc(class="form-control form-control-sm") }}
                                {% endif %}
                            </div>
                        </div>
                        <!-- mode -->
                        <div class="form-group">
                            {{ form.mode.label(class="col-form-label-sm col-form-label") }}
                            <div>
                                {% if form.mode.errors %}
                                {{ form.mode(class="form-control form-control-sm is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.mode.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.mode(class="form-control form-control-sm") }}
                                {% endif %}
                            </div>
                        </div>
                        <!-- classification -->
                        <div class="form-group">
                            {{ form.proj_class.label(class="col-form-label-sm col-form-label") }}
                            <div>
                                {% if form.proj_class.errors %}
                                {{ form.proj_class(class="form-control form-control-sm is-invalid") }}
                                <div class="invalid-feedback">
                                    {% for error in form.proj_class.errors %}
                                    <span>{{ error }}</span>
                                    {% endfor %}
                                </div>
                                {% else %}
                                {{ form.proj_class(class="form-control form-control-sm") }}
                                {% endif %}
                            </div>
                        </div>
                        <!-- submit button -->
                        <div class="form-group">
                            <div>
                                {{ form.submit(class="pd-0 btn btn-lg btn-primary btn-block")}}
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}

<!-- table view of all projects -->
{% block content %}
<table id="proj-dt" class="table hover table-bordered compact" style="width:100%">
    <thead>
        <tr>
            <th>ID</th>
            <th>Identifier</th>
            <th>Project Title</th>
            <th>Approved Budget</th>
            <th>Mode</th>
            <th>Classification</th>
            <th>Status</th>
        </tr>
    </thead>

    <tbody>
        {% for proj in projs %}
        <tr>
            <td>{{ proj.id }}</td>
            <td><a href="{{ url_for('projects.details', key=proj.key) }}">{{ proj.key }}</a></td>
            <td>{{ proj.title }}</td>
            <td>{{ proj.abc }}</td>
            <td>{{ proj.mode }}</td>
            <td>{{ proj.cls }}</td>
            <td>{{ proj.status }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock %}