{% extends "layout.html" %}

{% block button_head %}
<div class="btn-toolbar mb-2 mb-md-0">
    <div class="btn-group mr-2">
        <a class="nav-link" href="{{ url_for('projects.project_add') }}"><button type="button"
                class="btn btn-sm btn-outline-secondary">Add Data</button></a>
        <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
    </div>
    <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle">
        This week
    </button>
</div>
{% endblock %}